
#BottomNav {
  padding-top: 32px;
}

#PhoneTop{
  padding-top:16px;
}
#ReviewTop{
  padding-top:32px;
}

#div1 {
 
 /* border:2px solid gray;*/
  text-align: left;
  overflow: auto
}
#div2 {
 
  border-bottom:2px solid gray; 
  overflow: auto;
  text-align: left;
  position: relative;
  margin: 10px;
  height: 120px;
}
#p1{
  margin-left: 4px;
}
#p2{
  margin: 3px;
  
} 
#tagsPos {
  left:30px;
  top:95px;
  position: absolute;
}
#p3{
/*border:1px solid black;*/
  overflow: auto;
  margin-right: 20px;
  background-color :#7FDBFF;
  padding: 2px;
}
#p4{
 /* border:1px solid black;*/
  overflow: auto;
  position: absolute;
  left:130px;
  top:80px;
  background-color:greenyellow;
  padding: 2px;

}
#p5{
 /* border:1px solid black;*/
  overflow: auto;
  position: absolute;
  left:230px;
  top:80px;
  background-color: greenyellow;
  padding: 2px;

}
#RatingReview{
font-size: small;
}

#div3{
 /* border:1px solid black;*/
  overflow: auto;
  position: absolute;
  left: 20px;
  /*Right: 20px;*/
  font-size: 17px;
  top:45px;
}
#pastimg {
  height: 200px;
  width: 200px;
  padding-left: 10px;
}
#UserRating {
  padding-left: 125px;
  padding-top: 30px;
  position: relative;
}
#username{
  padding-left: 30px;
  padding-bottom: 5px;
}


.PicContainer{
  height: 220px;
  width: 300px;
  
}
.picheading{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 15px;;

}
.img-holder{
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin-top: 1rem;
}
.picimg{
  width: 160px;
  height: 160px;
  object-fit: cover;
}
#input[type="file"] {
    display: none;
}
.label{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.image-upload{
  margin: auto;
  width: 180px;
  height: 30px;
  color: white;
  border-radius: 10px;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

#myprofiletext {
 font-size: 50px;
}

#entry {
  font-size:17px;
  border:1px solid black;
  border-radius: 8px;
  margin-bottom: 5px;
  margin-top: 20px;
  padding: 5px;
  padding-left: 10px;
  position: relative;

}
#myEntry {
  position: absolute;
  left:60px;
 
}
#Noreviews{
  padding-bottom: 15px;
}
#ratingHeader{
  padding-left: 30px;
}
#pagebottom{
  padding-bottom: 64px;
}